<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriPredict</title>
</head>
<body>
    <h1>Welcome to AgriPredict</h1>
    <a href="/crop-recommendation">Go to Crop Recommendation</a><br><br>
    <a href="/crop-yield-prediction">Go to Crop Yield Prediction</a><br><br>
    <a href="/fertilizer-recommendation">Go to Fertilizer recommendation</a><br><br>
    <a href="/crop-pointer">Go to Crop Pointer</a><br><br>
    <a href="/crop-image-classification">Go to Crop Image Classification</a><br><br>
    <a href="/soil-image-classification">Go to soil Image Classification</a><br><br>
    <a href="/yr-yield-prediction">Go to yield prediction</a>
</body>
</html>


